[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
certifi = "*"
chardet = "*"
colorama = "*"
idna = "*"
ipaddress = "*"
pytz = "*"
requests = "*"
urllib3 = "*"
"zope.interface" = "*"
DateTime = "*"

[requires]
python_version = "3.8"
